<?xml version="1.0" encoding="UTF-8"?>
<project>
  <actions/>
  <description>Deploy our demo project</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/mesosphere/cd-demo.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/GIT_BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>GIT_EMAIL=$(git --no-pager show -s --format='%ae' $GIT_COMMIT)
cat marathon.json | jq ".container.docker.image = \"mesosphere/cd-demo-app:${GIT_COMMIT}\" | .id = \"JENKINS_NAME-deployed-app\" | .labels.lastChangedBy = \"${GIT_EMAIL}\" " &gt; marathon-rendered.json</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>curl -X PUT http://marathon.mesos:8080/v2/apps/JENKINS_NAME-deployed-app -d @marathon-rendered.json -H "Content-type: application/json"</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
