<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Test our demo project</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/mesosphere/cd-demo.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/GIT_BRANCH</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# Run the container we just built
docker run -d --name=test-container-${BUILD_NUMBER} mesosphere/cd-demo-app:${GIT_COMMIT}

# Grab IP address
ip_address=$(docker inspect test-container-${BUILD_NUMBER} | jq -r &apos;.[0].NetworkSettings.IPAddress&apos;)

# Run linkchecker against website
docker run mesosphere/linkchecker linkchecker --no-warnings http://$ip_address:4000/

# Linkchecker exist with exit status 1 if it detects broken links
exit_status=$?

# Clean up
docker kill test-container-${BUILD_NUMBER}
docker rm test-container-${BUILD_NUMBER}

# Exit with the status of the linkchecker
exit $exit_status</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.30">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.git.GitRevisionBuildParameters plugin="git@2.4.1">
              <combineQueuedCommits>false</combineQueuedCommits>
            </hudson.plugins.git.GitRevisionBuildParameters>
          </configs>
          <projects>deploy-cd-demo, </projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.mesos.MesosSingleUseSlave plugin="mesos@0.11.0"/>
  </buildWrappers>
</project>