<!DOCTYPE html>

<html>
  <head>
    <title>Oinker</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">Oinker</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
