<!DOCTYPE html>

<html>
  <head>
    <title>Tweeter</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/">
          Tweeter
        </a>
        <ul class="nav navbar-nav">
          <li><a href="/analytics" style="margin-top: 5px; margin-bottom: 5px; padding-top: 10px; padding-bottom: 6px;">Analytics</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
